.chart{
    width: 100%;
    height: 250px;
}

.data{
    width: 100%;
    border: solid 3px;
}

.data th, .data td{
    border: 2px solid;
    text-align: center;
}

.max{
    background: green;
    color: #ffffff;
}

.min{
    background: red;
    color: #ffffff;
}

.data .noleft{
    border-left: 1px solid;
}

.data .noright{
    border-right: 1px solid;
}
span.field{
	font-weight: bold;
}
div#header{
	width: 100%;			
}
h1#title {
	font-family: 'Roboto Slab', serif;
	font-size: 2.25em;
	color: #282828;
	text-align: center;
	width: 600px;
	margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;
}
span#titleRed {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #cc0000;
}
div#menu{
	width: 100%;
	background-color: #282828;
	
}
ul#menuList{
	list-style: none;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width:35em;
	margin-left: auto;
	margin-right: auto;
}
li.menuItem{
	display: inline;
	padding-right: 1.5em;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1.3em;
}
.menuItem a:link{
	color:#f9f9f9;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	text-decoration: none;
}
.menuItem a:visited{
	color:#f9f9f9;
	text-decoration: none;
}
.menuItem a:active{
	color:#f9f9f9;
	text-decoration: none;
}
.menuItem a:hover{
	color: #ba1414;
	text-decoration: none;
}
.arrow-img{
	height: 25px;
	width: 25px;
}
h3 a {
	display: block;
	float: none;
	clear: both;
	text-align: left;
	color:black;
}
/*----Dashboard----*/
/*--Left Menu--*/
#dashboard-menu{
	border: #515151;
	background-color: #656565;
	width: 15%;
	height: 100%;
	float: left;
}
h3.dashboard-menu-section{
	color:white;
	text-transform: uppercase;
	font-size: 1.25em;
	padding: 0px 0px 0px 10px;
	margin-bottom:0px;
}
.dashboard-menu-list{
	margin-left: 0px;
}
.dashboard-menu-list li{
	display:block;
	list-style: none;
	padding-left: 10px;
}
.dashboard-menu-list a{
	color:white;
	text-decoration: none;
}
.dashboard-menu-list a:hover{
	color: #2288f4;
	text-decoration: none;
}
/*--Main Dashboard--*/
#dashboard-main{
	width:70%;
	height: 100%;
	float: left;
	background-color:#eaeaea;
	padding-bottom: 50px;
}
.dashboard-box{
	width: 310px;
	height: 150px;
	background-color: #656565;
	color: #ededed;
	border-top: 3px solid #0b74e5;
	padding: 5px 10px 5px 10px;
	margin: 10px 0px 0px 10px;
	float: left;
	font-size: 1.5em;
	line-height: 2em;
}
.dashboard-box small-box{
	width: 150px;
	height: 150px;
	background-color: #656565;
	color: #ededed;
	border-top: 3px solid #0b74e5;
	padding: 5px 10px 5px 10px;
	margin: 10px 0px 0px 10px;
	float: left;
	font-size: 1.5em;
	line-height: 2em;
}
.dashboard-box h4{
	color: white;
	font-size: 2em;
}
.lrg-number{
	font-weight: bold;
	font-size: 1.75em;
}
